@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: theme("colors.blue.500");
  --secondary-color: theme("colors.green.500");
  --tertiary-color: theme("colors.purple.500");
  --success-color: theme("colors.green.500");
  --warning-color: theme("colors.yellow.500");
  --error-color: theme("colors.red.500");
  --info-color: theme("colors.blue.500");
  --background-color: theme("colors.slate.50");
  --surface-color: theme("colors.white");
  --text-color: theme("colors.slate.950");
  --text-secondary-color: theme("colors.slate.800");
  --text-tertiary-color: theme("colors.slate.600");
  --on-color: theme("colors.white");
}

html[data-theme="dark"] {
  --primary-color: theme("colors.blue.500");
  --secondary-color: theme("colors.green.500");
  --tertiary-color: theme("colors.purple.500");
  --success-color: theme("colors.green.500");
  --warning-color: theme("colors.yellow.500");
  --error-color: theme("colors.red.500");
  --info-color: theme("colors.blue.500");
  --background-color: theme("colors.slate.950");
  --surface-color: theme("colors.slate.800");
  --text-color: theme("colors.white");
  --text-secondary-color: theme("colors.slate.200");
  --text-tertiary-color: theme("colors.slate.400");
  --on-color: theme("colors.white");
}

body {
  @apply bg-background text-text;
}

@layer base {
  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src:
      url("/fonts/Geist-UltraLight.woff2") format("woff2"),
      url("/fonts/Geist-UltraLight.woff") format("woff");
  }

  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src:
      url("/fonts/Geist-Light.woff2") format("woff2"),
      url("/fonts/Geist-Light.woff") format("woff");
  }

  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      url("/fonts/Geist-Thin.woff2") format("woff2"),
      url("/fonts/Geist-Thin.woff") format("woff");
  }

  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      url("/fonts/Geist-Regular.woff2") format("woff2"),
      url("/fonts/Geist-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
      url("/fonts/Geist-Meidum.woff2") format("woff2"),
      url("/fonts/Geist-Meidum.woff") format("woff");
  }

  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
      url("/fonts/Geist-SemiBold.woff2") format("woff2"),
      url("/fonts/Geist-SemiBold.woff") format("woff");
  }

  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src:
      url("/fonts/Geist-Bold.woff2") format("woff2"),
      url("/fonts/Geist-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src:
      url("/fonts/Geist-Black.woff2") format("woff2"),
      url("/fonts/Geist-Black.woff") format("woff");
  }

  @font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src:
      url("/fonts/Geist-ExtraBlack.woff2") format("woff2"),
      url("/fonts/Geist-ExtraBlack.woff") format("woff");
  }
}
